@font-face {
    font-family: 'Raleway';
    src:source('Raleway'),
        url(../font/Raleway-Regular.ttf) format("truetype");
    /* url(font/Raleway-Bold.ttf) format("truetype");  */
    font-weight: normal;
	font-style: normal;
  }

/*   @font-face{
	font-family: 'Roboto';
	src:source('Roboto'),
		url("../font/Roboto_Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  } */
/*   @font-face {
    font-family: Raleway;
    src: url("Raleway");
  } */
* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

#content-box {
    display: block;
}
.inner {
    margin: auto;
    max-width: 1268px;
}
.tile {
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.tile h1 {
    text-align: center;
    padding-bottom: 1em;
}

.column {
    width: 33%;
    float: left;
}

.BG-gray {
    background-color: #f1f1f1;
}

.BG-dark {
    background-color: #333;
}
#header {
    padding-top: 2%;
    padding-bottom: 2%;
}
#header_text {
    padding-top: 1.3%;
    padding-left: 16%; 
}

.text h3{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#logo {
    float: left;
    width: 12%;
}

.float {
    float: left;
}
#navbar {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    background-color: #333;

}
#navbar ul {
    overflow: hidden;
    list-style-type: none;
}
#navbar ul li {
    float: left;
}
#navbar li a{
    display: block;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    color: white;
    text-decoration: none;
    
}
.not-active:hover {
    background-color: black;
}
.active {
    background-color: #f44336;
}

/* mie aggiunte Enric */
.google-maps iframe{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-left: 3em;
}
/**/

#footer {
    padding-bottom: 3em;
    background-color: black;
    text-align: center;
    color: #777;
}
#footer p {
    padding-top: 1em;
    padding-bottom: 1em;
}
#social-footer {
    padding: 0.5em;
    background-color: #333;
}
#social-footer img {
    padding-top: 0.1em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 3em;
}


