@font-face {
  font-family: Raleway;
  src: url("../../font/Raleway-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

p, ul, span {
	font-family: Arial, Helvetica, sans-serif;
}

#booking-box {
  background-size: cover;
  width: 60%;
  padding: 0.5cm 25%;
  
}
#booking-form {
  padding: 0.5cm;
  background-color: white;
  width: 10cm;
  border-style: solid; 
  border-radius: 10pt;
}
#booking-form button, .summary-button {
  margin-top: 0.8cm;
  margin-bottom: 0.8cm;
  padding-top: 0.4cm;
  padding-bottom: 0.4cm;
  font-size: 14pt;
  width: 95%;
  color: white;
  border: none;
  background-color: #f44336;
}

/* --------camere--------*/

.booking-button-camera {
  text-decoration: none;
  margin-top: 1cm;
  padding: 0.4m 1cm;
  font-size: 14pt;
  border: none;
  background-color: #f44336;
}

.costo{
  display: block;
  padding-top: 0.4cm;
  padding-bottom: 0.4cm;
}
.posti img{
  width: 14pt;
  height: 14pt;
  padding-right: 0.2cm;
  padding-left: 0.4cm;
}
.posti{
  float: left;
  font-size: 14pt;
  margin-top: 0.4cm;
  margin-bottom: 2.5cm;
  padding: 0cm 0.7 cm 0.4cm;
}
#booking-form label {
  display: inline-block;
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
}
#booking-form input, #login-form input{
  padding: 0.2cm;
  font-size: 14pt;
  width: 85%;
}
#booking-button, #topScrollButton, #booking-submit-button {
  text-decoration: none;
  float: right;
  margin-top: 0.2cm;
  margin-right: 0.8cm;
  padding: 0.4cm 0.7cm;
  font-size: 14pt;
  color: white;
  background-color: #f44336;
}

#booking-submit-button {
  border-style: none;
  margin-top: 0.8cm;
  margin-bottom: 0.8cm;
}

#topScrollButton {
  display: none;
}

#content-box {
  display: block;
}

.tile {
  overflow: auto;
  padding-top: 1cm;
}

.tile h2 {
	font-size: 24pt;
  text-align: center;
  padding-bottom: 0.5cm;
}
.tile h3 {
  text-align: center;
}

.map iframe{          (???)
    width: 100%;
    height: 25em;
    border:none;
    padding-bottom: 2em;

}

.column {
    display: block;
    padding: 0.2cm 0.5cm;
}

#left-box img{        (???)
    width:550px;
    height:350px;
    padding-left: 2em;
    padding-right: 2em;
}
.column-sm {          (???)
    width: 20%;
    float: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.BG-gray {
  background-color: #f1f1f1;
}

.BG-dark {
  background-color: #333;
}

#header {
  /*visibility: hidden;*/
  padding-top: 0.2cm;
  padding-bottom: 0.2cm;
}

#header h1 {
  font-size: 36pt;
}

#home-link {
  text-decoration: none;
  display:block;
}

#info-box {
  width: 70%;
}

#info_box h2 {
  padding-top: 0.2cm;
}

h3 {
   padding-bottom: 1.5em;
}

#service-icons img {
    width: 20%;
    padding-bottom: 1.3em;
}

#logo {
    float: left;
    width: 4cm;
    height: 2.5cm;
    padding-right: 0.4cm;
}

#navbar {
  display: none;
}

#naventry-menu {
  display: none;
}

#naventry-prenota {
  display:none;
}

/*stile per la pagina dintorni.html*/
#InternalNav {
	text-align: center;
}

#InternalNav ul {
	font-size: 2em;
	list-style: none;
}

#InternalNav a {
  display: block;
  padding: 1em;
}

#InternalNav a:link, #InternalNav a:visited {
	text-decoration: none;
}

.section_title {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 3em;
}

#Cosa_visitare {
  margin-top: 3em;
}

.section_title h2 {
	font-size: 2em;
}

.section_title img {
  height: 15em;
}

.leftbox {
  padding-top:33%;
	float:left;
  width: 45%;
  position:relative;
}

.leftbox img {
  width:100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.rightbox {
  margin-left: 50%;
	width: 50%;
}

.rightbox ul {
	list-style: none;
}

.rightbox h3 {
	font-size: 1.5em;
	margin-left: 0em;
	margin-bottom: 1em;
}

.rightbox p {
	margin-top: 1em;
}

.rightbox a {
  float:right;
}

.rightbox ul a, .rightbox p a {
  float:none;
}

/* Stile per la pagina servizi.html */

.infobox h3 {
  margin-left: 2em;
	text-align: left;
}

.infobox ul {
  border-top: 1px solid #DDD;
	line-height: 150%;
  margin-left: 1em;
  margin-bottom: 2em;
  list-style: none;
}

.infobox li {
  border-bottom: 1px solid #DDD;
  padding: 0.1em 0em 0.1em;
}

.infobox img {
  float: left;
  height: 1.5em;
  width: 1.5em;
}

/*Stile per la pagina contatti.html*/

.contactbox {
  width: 45%;
  float: left;
  margin: 1%;
  text-align: center;
  border: 1px solid #DDD;
  margin-bottom: 4em;
}

.contactbox h3 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.contactbox span {
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: 1em;
  display: block;
}

#tel-link {
  pointer-events: none;
  cursor: default;
}

#mail-link span {
  text-decoration: underline;
}

.contactbox img {
  height: 12em;
}

#phone-img {
  height: 10em;
  margin-bottom: 1em;
  margin-top: 1em;
}

/*stile per la pagina prenota*/
#prenotation-box input {
  font-size: 1.2em;
  padding: 0.4em;
  width: 90%;
  margin-bottom: 1em;
}

#input-name {
  margin-top: 1em;
}

.select-box {
  text-align: center;
}

.select-box select {
  padding: 0.2em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1.2em;
}

#note-box {
  width: 50%;
  margin-bottom: 3em;
}

#note-box h3 {
  text-align: left;
  padding-left: 7em;
  font-size: 1.3em;
}

#note-box ul {
  list-style: none;
  line-height: 1.5em;
}

#note-box li {
  margin-top: 0.2em;
}

.error {
  margin: auto;
  width: 50%;
  text-align: center;
  border: 2px solid red;
  list-style: none;
  margin-bottom: 2em;
  padding: 1em;
}

.error li {
  padding:0.3em;
}

#topScrollButton {
  font-size: 1em;
}

#footer {
    padding-bottom: 7em;
    background-color: black;
    text-align: center;
}
#footer p {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    color: #777;
}
#footer a {
    color: #494949;
}
#social-footer {
    padding: 0.5em;
    background-color: #333;
}
#social-footer img {
    padding-top: 0.1em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 3em;
}
#tab-prenotazioni {
    text-align: center;
    margin-left: 17%;
    margin-bottom: 2em;
    border-collapse: collapse;
}
#tab-prenotazioni th {
    background-color: #f1f1f1;
    padding: 1em;

}
#tab-prenotazioni td {
    padding: 0.4em;
    border-bottom: 1px solid #ddd;
}
#prenota-m {
  display:none;
}
#login-form {
    text-align: center;
    width: 98%;
    margin-bottom: 2em;
}

#login-form input{
    width: 30%;
    margin-bottom: 1em;
}

#login-btn {
    text-decoration: none;
    margin-top: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.4em;
    width: 30%;
    color: white;
    background-color: #f44336;
    border: none;
}

.summary {
  margin-bottom: 3em;
}

.summary ul {
  list-style: none;
}

.summary ul li {
  padding:0.3em;
}

#summary-cash {
  display: block;
  margin-bottom: 2em;
  text-align: center;
}
