#logo {
  width: 245px;
  height: 145px;
}

#info_box h1 {
  font-size: 5em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0em;
}
#info_box h2 {
  display: none;
}
#booking-button {
  display: none;
}

#topScrollButton {
  bottom:1em;
}

#home-link {
  margin-right: 1em;
}

#booking-box {
  background-image: none;
  border-bottom: 1px solid #DDD;
  padding: 0;
  overflow: auto;
}

#booking-form {
  margin: auto;
  width: 70%;
  font-size: 2em;
}

#booking-form {
  text-align: center;
}

#booking-form input {
  font-size: 1em;
}

.column-sm {
  width: 50%;
  margin:auto;
  float:none;
  font-size: 2.5em;
}

#service-icons img {
  padding-bottom: 0;
}

#social-footer img {
  width: 10%;
}

.column-sm p {
  padding-bottom: 1em;
}

#navbar {
  overflow: auto;
}

#navbar ul li {
  float: none;
}

#navbar li a {
  font-size: 2.5em;
}

#topScrollButton, #booking-button-camera {
  font-size: 2.5em;
}

.column {
  float: none;
  margin: auto;
  width: 70%;
}

.column p {
  border-top: 1px solid #DDD;
}

.leftbox {
  padding-top: 65%;
  width: 90%;
  float: none;
  margin: auto;
}

.rightbox {
  width: 70%;
  margin: auto;
  font-size: 1.5em;
}

.section_title img {
  width: 50%;
  height:50%;
}

.infobox {
  font-size: 1.5em;
}

#tel-link {
  pointer-events: all;
}

#tel-link, #mail-link {
  text-decoration: none;
}

 #tel-link span {
   text-decoration: underline;
 }

 #booking-button-camera {
   margin-top: 0;
   margin-bottom: 2em;
 }

 .contactbox {
   float:none;
   margin:auto;
   width: 70%;
   margin-bottom: 2em;
   font-size: 2em;
 }

 .contactbox img {
   height: 15em;
 }

 #prenotation-box, #note-box #booking-submit-button {
   font-size: 2em;
 }

 .select-box {
   padding: 0;
 }

 #note-box {
   width: 70%;
   margin: auto;
   font-size: 2em;
   margin-bottom: 2em;
 }

 #note-box h3 {
   text-align: center;
   padding-left: 0;
 }

 #booking-submit-button {
   display: block;
   float: none;
   margin:auto;
   margin-bottom: 2em;
   font-size: 3em;
 }
